# Use the latest 2.1 version of CircleCI pipeline process engine. See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1
orbs:
  codecov: codecov/codecov@5.0.3
jobs:
  build-matrix:
    parameters:
      os:
        type: string
      arch:
        type: string
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - run:
          name: Build for << parameters.os >> / << parameters.arch >>
          command: |
            GOOS=<< parameters.os >> GOARCH=<< parameters.arch >> go build -v -o ./bin/dnspyre-<< parameters.os >>-<< parameters.arch >>
  tests:
    working_directory: ~/repo
    docker:
      - image: cimg/go:1.24
    steps:
      - checkout
      - restore_cache:
          keys:
            - go-mod-v5-{{ checksum "go.sum" }}
      - run:
          name: Install Dependencies
          command: go mod download
      - save_cache:
          key: go-mod-v5-{{ checksum "go.sum" }}
          paths:
            - "/go/pkg/mod"
      - run:
          name: Run tests
          command: |
            mkdir -p /tmp/test-reports
            gotestsum --junitfile /tmp/test-reports/unit-tests.xml -- -coverprofile=coverage.out -covermode=atomic -json -race ./...
      - codecov/upload
      - store_artifacts:
          path: /tmp/test-reports
      - store_test_results:
          path: /tmp/test-reports

workflows:
  version: 2
  tests:
    jobs:
    - tests
    - build-matrix:
        matrix:
          parameters:
            os: [ "linux", "darwin", "windows"]
            arch: [ "386", "amd64", "arm64" ]
          exclude:
            - os: "darwin"
              arch: "386"
