name: goreleaser-check

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  goreleaser-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Check goreleaser configuration
      uses: goreleaser/goreleaser-action@v7
      with:
        distribution: goreleaser
        version: v2.9.0
        args: check
