name: lint
on:
  pull_request:
  push:
    branches:
    - master
jobs:
  golangci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod
    - name: Lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.1.6
